@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

/*---------------------nav-bar-------------------*/

.background-to-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #696969;
    z-index: 10;
}

.menu {
    list-style-type: none;
    letter-spacing: 3px;
    margin-top: 15px;
}

.menu li {
    float: left;
    margin-left: 40px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

#active {
    text-decoration: underline;
}

/*-------------------- Adapting Bootstrap Navbar-------------*/

.nav-link {
    padding: 15px 0 0 70px;
}

.nav-tabs .nav-item.show .nav-link .nav-link.active {
    color: #fafafa;
    background-color: #696969;
    border: none;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 15px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fafafa;
    background-color: #696969;
    border: none;
    letter-spacing: 3px;
}

.dropdown-menu {
    margin-left: 50px;
    z-index: 20;
    color: #fafafa;
    background-color: #696969;
    letter-spacing: 3px;
    border: none;
}

.dropdown-item {
    color: #fafafa;
    background-color: #696969;
    z-index: 20;
}

/*---------------------Misc-------------------*/



/*---------------------Hero image-------------------*/
.opaque-overlay {
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute; 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
    top: 50px;
    z-index: 9;
}

.hero-image {
    background: url("../images/Alverstoke5.jpg") top left no-repeat;
    position: absolute; 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 5;
}

/*---------------------Jumbotron-------------------*/

.jumbotron {
    position: fixed;
    top: 20%;
    left: 5%;
    right: 5%;
    color: #fafafa;
    z-index: 10;
}    

@media screen and (min-width: 992px) {
    .jumbotron {
        font-size: large;    
    }
}

@media screen and (max-width: 992px) {
    .jumbotron {
        font-size: medium;    
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        font-size: small;    
    }
}

@media screen and (max-width: 576px) {
    .jumbotron {
        font-size: x-small;    
    }
}



.lead {
    font-size: x-large;
}

hr:not([size]) {
    height: 0;
}

/*---------------------footer-------------------*/

.social-networks {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: #696969;
  z-index: 10;
}

.social-networks li{
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 0;
  color: #fff;
  float: right;
}


/*-------------------- Gallery --------------------*/

.gallery-pics {
    line-height: 0;
    column-gap: 0px;
    padding-top: 50px;
    }

.image {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .gallery-pics {
        column-count: 2;    
    }
}

@media screen and (min-width: 992px) {
    .gallery-pics {
        column-count: 3;    
    }
}