@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

/*---------------------nav-bar-------------------*/

.background-to-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #696969;
    z-index: 1;
}

.menu {
    list-style-type: none;
    letter-spacing: 3px;
    margin-top: 15px;
}

.menu li {
    float: left;
    margin-left: 40px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

#active {
    text-decoration: underline;
}

/*---------------------Hero image-------------------*/

.hero-image {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.bell_tower {
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}
/*---------------------Jumbotron-------------------*/

.jumbotron {
    position: fixed;
    top: 20%;
    left: 10%;
    color: #fafafa;
}

/*---------------------footer-------------------*/

.social-networks {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: #696969;
}

.social-networks li{
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 0;
  color: #fff;
  float: right;
}
